@import url("reset.css");
@import url("bootstrap.css");
@import url("bootswatch.min.css");
@import url("datepicker.css");
@import url("bootstrap-timepicker.css");
@import url("zTreeStyle/zTreeStyle.css");

/*reset*/
html, body {
  padding: 0;
  height: 100%;
  width: 100%;
}

a{
	color: #000000;
}
a:hover,
a:focus{
	color: #FFFFFF;
	text-decoration: none;
}

ul, li {
    padding: 0px;
    margin: 0px;
}
.hidden{
	display:none;
}

/* body */
body{
  position: relative;
  min-width: 1348px;
  min-height: 625px;
  max-width: 1920px;
  max-height: 2045px;
  margin: 0 auto;
  padding-top: 112px;
  font-family: "SimSun";
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: url(../img/bg.png) no-repeat;
  background-position: left top;
}

/* header */
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 278px;
  background: url(../img/topbg.png) no-repeat;
}
.logo-icon{
  position: absolute;
  top: 11px;
  left: 33px;
}
.header > .title{
  position: absolute;
  top: 26px;
  left: 141px;
  font-family: "Microsoft Yahei";
  font-size: 18px;
}

.cur-user{
  width: 200px;
  background: url(../img/curuser.png) no-repeat;
}
.sys-setting{
  width: 180px;
  background: url(../img/syssetting.png) no-repeat;
}
.log-out{
  width: 100px;
  background: url(../img/logout.png) no-repeat;
}
.cur-user,
.sys-setting,
.log-out{
  float: right;
  margin-top: 24px;
  background-position: left;
  height: 20px;
}

/* container */
.container{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 27px;
}

/* nav-group */
.nav-group{
  float: left;
  width: 138px;
  height: 100%;
  min-height: 656px;
  background: url(../img/navbg.png) no-repeat;
}
.nav{
  cursor: pointer;
}
.nav-btn ul{
  display: none;
}
.nav-btn.selected ul{
  display: block;
}
.page{
  width: 100%;
  height: 100%;
  display: none;
}

/* main pages */
.main.pages{
  position: relative;
  width: 99%;
  height: 100%;
  margin-top: 2px;
  padding-left: 138px;
}

/* content */
.content{
  position: relative;
  min-width: 1170px;
  min-height: 768px;
  background: url(../img/contentbg.png) no-repeat;
  background-position: top center;
}

/*dropkick*/
.dk_container {
  cursor: pointer;
  font-size: 14px;
  margin-left: 6px;
  margin-bottom: 10px;
  outline: none;
  width:64%;
  height:100%;
}

.dk_toggle {
  overflow: hidden;
  /*padding: 6px 45px 8px 13px;*/
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  z-index:1;
}
 
.dk_toggle:hover, .dk_toggle:focus, .dk_focus .dk_toggle {
    outline: none; 
}
.dk_toggle:active {
    /*background-color: #C0C5C8;*/
    outline: none; 
}

.select-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
  height: 100%;
  /* background: transparent url("../images/toggle1.png") no-repeat; */
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; 
}

.dk_open{
	z-index: 10; 
}
.dk_open .dk_toggle{
    /*background-color: #C0C5C8; */
}
.dk_open .dk_toggle .select-icon {
    /*background-color: #C0C5C8;*/
}
.dk_options:focus{
	outline:none;
}
.dk_options:before {
   /*  content: "";
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #C0C5C8 transparent;
    height: 0px;
    position: absolute;
    left: 15px;
    top: 5px;
    width: 0px;
    -webkit-transform: rotate(360deg); */ 
}
.dk_options:before {
    left: auto;
    right: 12px; 
}
.dk_options li {
	min-height: 33px;
    padding-bottom: 3px;
}
  .dk_options a {
    border-radius: 3px;
    display: block;
    padding: 5px 9px;
    text-decoration: none; 
}
.dk_options a:hover {
	border-radius: 0;
    background-color: #2DB5F5;
	color:#FFFFFF;
}

.dk_option_current a {
  border-radius: 0;
  background-color: #2DB5F5;
  color:#FFFFFF;
}

.dk_options_inner {
  margin: 0;
  height: 100%;
  /*max-height: 244px;*/
  padding: 3px 3px 0;
  /* border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #FFFFFF; */
}

.dk_container{
  display: none;
  position: relative;
  vertical-align: middle; 
}
.dk_container.dk_shown{
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.dk_container[class*="span"]{
    float: none;
    margin-left: 0; 
}

.dk_toggle{
  display: block;
  position: relative;
  height: 100%;
}

.dk_open {
  position: relative;
}
.dk_open .dk_options {
    margin-top: -1px;
    opacity: 1;
    z-index: 10;
    display: block; 
}
.dk_open .dk_label {
    color: inherit; 
}
.dk_label{
	display: inline-block;
	padding-top: 5px;
	padding-left: 12px;
}

.dk_options {
  display: none;
  position: relative;
  left: 0;
  width: 100%;
  max-height: 240px;
  margin-top: -21px;
  padding-top: 4px;
  opacity: 0;
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #FFFFFF;
  overflow: auto;
  z-index:0;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-backface-visibility: hidden; 
  
}

.dk_search{
	display: none;
	position: relative;
	width: 100%;
	height: 32px;
	background: #FFF;
	z-index: 1;
	-webkit-transition: 0.3s ease-out;
  	-moz-transition: 0.3s ease-out;
  	-o-transition: 0.3s ease-out;
  	transition: 0.3s ease-out;
  	-webkit-backface-visibility: hidden;
}

.dk_search input{
	background-color: #FFF;
}
.dk_open .dk_search{
	display: block;
	z-index: 10;
}
.select-right .dk_options{
    left: auto;
    right: 0; 
}
.dk_options a{
    display: block;
    width: 100%;
    min-height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dk_options_inner{
  position: relative;
  width: 100%;
  overflow: auto;
  outline: none;
}

.dk_touch .dk_options{
  overflow: hidden; 
}
.dk_touch .dk_options_inner{
  max-height: none;
  overflow: visible;
}

.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}

/* slim */
.slimScrollDiv{
  float: left;
  min-height: 625px !important;
  z-index: 10;
}