@import url("common.css");


.mt-resource{
	display: inline-block;
	width: 80px;
	height: 80px;
	/*margin: 20px;*/
	background: #CCC;
	z-index: 10;
}
.resource-pool,
.big-screen{
	width: 80%;
	height: 80%;
	margin: 0 auto;
	min-width: 800px;
	min-height: 800px
}
.resource-pool{
	min-height: 80px;
	height: auto;
}
.window{
	display: inline-block;
	float: left;
	width: 84px;
	height: 84px;
	margin: 0 auto;
	margin-right: -1px; /*边框重叠的解决方法*/
	margin-bottom: -1px;
	border: 1px solid #000;

}